<div class="parent">
    <div class="section yellow">
        <form>
            <h1>Notes</h1>
            <label for="id">ID</label>
            <input type="text" id="id" name="id" [(ngModel)]="currentStudent.id" />

            <label for="name">Name</label>
            <input type="text" id="name" name="name" [(ngModel)]="currentStudent.name" />

            <label for="age">DoB</label>
            <input type="date" name="age" [(ngModel)]="currentStudent.dob" />
            <label for="text">Note</label>
            <br />
            <textarea type="text" name="text" id="text" class="text" [(ngModel)]="currentStudent.text" placeholder="Enter your note"></textarea>
            <br />
            <button (click)="addStudent( )">Add</button>



        </form>


    </div>
    <div class="flex-container1">
        <div class="card" *ngFor="let student of students$ | async">
            <div class="card-body">
                <h5 class="card-title">{{ student.id }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    Date Created: {{ student.dob }}
                </h6>
                <h6 class="card-subtitle mb-2 text-muted">
                    Created By: {{ student.name}}
                </h6>
                <p class="card-text">{{ student.text }}</p>
            </div>
            <button class="delete" (click)="deleteStudent(student.id)">Delete</button>
        </div>
    </div>

</div>